


body{
    background-color: beige;
}

.container
{
    min-width: 40em;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-shadow:1px 1px 2px powderblue;
}


.listsec
{
    list-style-type: square;
}


.ul
{
    list-style-type: circle
    ;
}

.tab
{
    display: inline-block;
}

.video
{
    text-align: center;
}

.discussion
{
    overflow-y:auto ;
    border: 1px solid black;
    height: 8em;
}

